{% extends "base.html" %}

{% block title %}Games{% endblock %}

{% block content %}
	<h2>Single-player games</h2>
    <ul>
        <li><a href="/games/poker">Video poker</a></li>
    </ul>
    <h2>Group and multiplayer games</h2>
    <ul>
        <li><a href="/games/res">The Resistance</a></li>
    </ul>
{% endblock %}
{% block sidebar %}
    <h3>Goals</h3>
    <p>Currently, the only playable game is single-player poker (video poker style). I implemented that game just to prove that I could put a game here that uses HTML and Python together. The Python backend is actually extremely simple, just a few classes, but the HTML and handler functions make it kind of gross. If you're interested, you can look at how it all works on <a href="https://github.com/chrhyman/wugs-site">Github</a>.</p>
    <p>I made this site, yes, to practice Python programming, but also to get some group games on this site so I can play normally-tabletop games with my friends from all over. For example, think about playing Cards Against Humanity on that one simple website; that's what I'm thinking. My next goal is to make a working version of The Resistance, but it's a little more involved than poker. I hope we can all play together soon!</p>
{% endblock %}