{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
	<h2>This is the main column</h2>
    <p>Welcome to the website. I'll write a thing here eventually.</p>
{% endblock %}
{% block sidebar %}
    <h3>About</h3>
    <p>This website is a simple way for me to play games with my friends who are geographically distant. It's not really a public thing, to be honest. If you'd like to clone this to use yourself, just ask nicely and I can explain how to set it up.</p>
    <h3>Contact</h3>
    <p>You can email me <a href="mailto:chrhyman@gmail.com" target="_blank">here</a>. This repo is intermittently git pushed to Github <a href="https://github.com/chrhyman/wugs-site" target="_blank">here</a>. If it seems to be out of date, just shoot me an email and I'll push the most recent commit.</p>
{% endblock %}