{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
	<h2>Welcome to the site!</h2>
    <p>If you've been dragged here against your will, it means I want to play a game with you! Due to the unfortunate reality of distances, we don't all live close to each other. But! That doesn't mean we can't still play games together! I've mentioned to some of you a few websites that I've used in the past. However, I'm also a huge fucking nerd, and I want to code my own. So here we are. You can <a href="/register">register</a> or, if you have already, <a href="/login">log in</a>. Registering just invovles setting your display name (username) and a <strong>not secure</strong> password. I will see the password you choose in plain text, so use your best judgment. (If you know anything about password security this is a huge no-no. I, however, give zero fucks.) You don't need to give an email or anything like that.</p>
    <h2>How It Works</h2>
    <p>Navigate to the <a href="/games">games</a> page. There, you can select from whatever number of games currently exist. I've been implementing a room system, so hopefully there can be multiple concurrent games ongoing without session data conflicting. Please let me know if you run into any issues so I can add more error handling.</p>
{% endblock %}
{% block sidebar %}
    <h3>About</h3>
    <p>This website is a simple way for me to play games with my friends who are geographically distant. It's not really a public thing, to be honest. If you'd like to clone this to use yourself, just ask nicely and I can explain how to set it up.</p>
    <h3>Contact</h3>
    <p>You can email me <a href="mailto:chrhyman@gmail.com" target="_blank">here</a>. This repo is intermittently git pushed to Github <a href="https://github.com/chrhyman/wugs-site" target="_blank">here</a>. If it seems to be out of date, just shoot me an email and I'll push the most recent commit.</p>
{% endblock %}