{% extends "base.html" %}

{% block title %}Poker{% endblock %}

{% block content %}
    <h2>Video Poker</h2>
    {% if gamedata.inprog %}
        {% if session['username'] != gamedata.player and gamedata.player %}
            <p>Unfortunately, someone is already playing, and the site can currently only handle one player at a time due to the way global variables are used. If you think that user is idle, please ping Chris to reset the app manually.</p>
        {% elif session['username'] == gamedata.player %}
            {{ p_handler(gamedata) }}
        {% else %}
            <p>Error! Somehow a game is in progress with no player. This... shouldn't happen. Contact Chris to reset the server and troubleshoot!</p>
        {% endif %}
    {% else %}
        <p>No one is currently playing. Click below to start!</p>
        <form action="" method="post">
            <input type="submit" name="newgame" value="New Game" />
        </form>
    {% endif %}
{% endblock %}
{% block sidebar %}
<h3>Currently playing:</h3>
<p>{% if gamedata.player %}{{ gamedata.player }}{% else %}No one.{% endif %}</p>
<h3>Rules</h3>
<p>This is where rules will eventually go.</p>
{% endblock %}
